<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @entry.title %>
</p>

<p>
  <strong>Body html:</strong>
  <%= @entry.body_html %>
</p>

<p>
  <strong>Body md:</strong>
  <%= @entry.body_md %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
