<div class="row entries">
  <div class="eight columns">
    <div>
      <!-- Go to www.addthis.com/dashboard to customize your tools --> <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-580edbe828ec98ed"></script> 
      <% @entries.each do |entry| %>
        <div class="entry">
          <div class="title"><%= link_to entry.title, entry %></div>
          <section class="tags">
            <span>Tags: <span>
            <% entry.tag_list.each do |t| %>
              <span class="tag"><%= link_to t, tag_path(t) %></span>
            <% end %>
          </section>
          <div class="body">
            <p><%= text_clamp(entry.body_md) %></p>
          </div>
          <div class="footer">
            <div class="footer-in">
              <div class="addthis_inline_share_toolbox"></div>
              <div>Created at: <%= entry.created_at %></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="four columns">
     <%= render 'layouts/sidebar' %>
  </div>
</div>
